@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-clash-variable: var(--font-clash-grotesk-variable);
  --font-display-variable: var(--font-clash-display-variable)
}

@media (prefers-color-scheme: dark) {
}

body {
}
@layer base {
    h1, h2, h3, h4, h5, h6, p {
    @apply font-clash-variable;
  }
}

.text-outline {
  -webkit-text-stroke: 1.25px white; 
  text-stroke: 1.25px white;         
}

.device-player-text-outline {
  -webkit-text-stroke: 0.05px white; 
  text-stroke: 0.05px white;         
}

.circle-reveal {
  mask-image: conic-gradient(
    red 90deg,      
    transparent 0deg,      
    transparent 360deg
  );
  mask-mode: alpha;
}

.test_1{
  background: transparent;
  border-width: 50px;
  border-color: #7BD4D3;
  border-radius: 100px; 
}
.outer_intersection{
  padding: 85px 85px;
  border-radius: 216.5px;
  background: radial-gradient(circle at center, #38605F 0%, #406E6D 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  background-clip: border-box;

}


.left_inner_intersection{
  padding: 88px 88px;
  border-radius: 150px;
  background: radial-gradient(circle at center, #172323 0%, #1C2C2C 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  background-clip: border-box;

}

.left_correction_inner_intersection{
  padding: 10px 10px;
  border-radius: 130px;
  background: radial-gradient(circle at center, #172323 0%, #1C2C2C 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  background-clip: border-box;

}

.indicators_border_fade{
  padding: 25px 25px;
  opacity: 0.025;
  border-radius: 216.5px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  background-clip: border-box;

}


.right_inner_intersection{
  padding: 48px 48px;
  border-radius: 138px;
  background: radial-gradient(circle at center, #172323 0%, #1C2C2C 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  background-clip: border-box;

}

.right_correction_inner_intersection{
  padding: 10px 10px;
  border-radius: 130px;
  background: radial-gradient(circle at center, #172323 0%, #1C2C2C 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  background-clip: border-box;
}


.device-player-border{
  padding: 1px 1px;
  border-radius: 9px;
  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF40 100%);
  opacity: 0.1;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  background-clip: border-box;
}

.bottom-elements-border{
  padding: 1.5px 1.5px;
  border-radius: 24px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF00 100%);
  opacity: 0.20;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  background-clip: border-box;
}